<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
</head>

<body>
    <!--CAROUSEL-->
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/2752777/pexels-photo-2752777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="Stranger things" class="carousel-item__img">

                <div class="carousel-item__details">
                    <div>
                        <img class="carousel-item__details-play"
                            src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play icon" />
                        <img class="carousel-item__details-plus"
                            src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="Plus icon" />
                    </div>
                    <p class="carousel-item__details--title">Título descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/8369440/pexels-photo-8369440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="Stranger things" class="carousel-item__img">

                <div class="carousel-item__details">
                    <div>
                        <img class="carousel-item__details-play"
                            src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play icon" />
                        <img class="carousel-item__details-plus"
                            src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="Plus icon" />
                    </div>
                    <p class="carousel-item__details--title">Título descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/8083895/pexels-photo-8083895.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="Stranger things" class="carousel-item__img">

                <div class="carousel-item__details">
                    <div>
                        <img class="carousel-item__details-play"
                            src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play icon" />
                        <img class="carousel-item__details-plus"
                            src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="Plus icon" />
                    </div>
                    <p class="carousel-item__details--title">Título descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/4336552/pexels-photo-4336552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="Stranger things" class="carousel-item__img">

                <div class="carousel-item__details">
                    <div>
                        <img class="carousel-item__details-play"
                            src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play icon" />
                        <img class="carousel-item__details-plus"
                            src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="Plus icon" />
                    </div>
                    <p class="carousel-item__details--title">Título descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/5686647/pexels-photo-5686647.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="Stranger things" class="carousel-item__img">

                <div class="carousel-item__details">
                    <div>
                        <img class="carousel-item__details-play"
                            src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play icon" />
                        <img class="carousel-item__details-plus"
                            src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="Plus icon" />
                    </div>
                    <p class="carousel-item__details--title">Título descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/4334874/pexels-photo-4334874.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="Stranger things" class="carousel-item__img">

                <div class="carousel-item__details">
                    <div>
                        <img class="carousel-item__details-play"
                            src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play icon" />
                        <img class="carousel-item__details-plus"
                            src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="Plus icon" />
                    </div>
                    <p class="carousel-item__details--title">Título descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/7896217/pexels-photo-7896217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="Stranger things" class="carousel-item__img">

                <div class="carousel-item__details">
                    <div>
                        <img class="carousel-item__details-play"
                            src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play icon" />
                        <img class="carousel-item__details-plus"
                            src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="Plus icon" />
                    </div>
                    <p class="carousel-item__details--title">Título descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/8197584/pexels-photo-8197584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="Stranger things" class="carousel-item__img">

                <div class="carousel-item__details">
                    <div>
                        <img class="carousel-item__details-play"
                            src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play icon" />
                        <img class="carousel-item__details-plus"
                            src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="Plus icon" />
                    </div>
                    <p class="carousel-item__details--title">Título descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>