<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>
    <!--HEADER-->
    <header class="header">
        <div class="header__brand">
            <i class="header__logo fas fa-play"></i>
            <h1 class="header__title">PlayVideo</h1>
        </div>

        <nav class="header__menu">
            <div class="header__menu--profile">
                <i class="header__menu--icon fas fa-user" alt="user"></i>
                <p class="header__menu--text">Perfil</p>
            </div>

            <div class="header__menu--links">
                <a href="#" class="header__menu--link">Cuenta</a>
                <a href="#" class="header__menu--link">Cerrar sesión</a>
            </div>
        </nav>
    </header>
</body>

</html>